img {
    max-width: 100%;
    display: block;
}
section.counter{
    div.scoreCountContainer{
        display: flex;
        flex-direction: row;
        img.pokeBallGif{
            height: 3rem;
            display: block;
        }
        img.scoreImage{
            height: 3rem;
        }
    }
}

a {
    display: inline-block;
}

.wrapper {
    max-width: 1260px;
    width: 70%;
    margin: 0 auto;
} //TO CHANGE