.gameContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-top: 10rem;
}

.guesser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: end;
        gap: 2rem;
        padding-bottom: 3rem;
        button {
            width: 50%;
            // align-self: flex-end;
        }
    }
}

.pokemonImage {
    height: 10rem;
    width: 10rem;
    .randomPokeImage {
        width: 10rem;
    }
}

.guessSubmission {
    width: 100%;
    input {
        padding: 1rem 1rem;
        border: 2px solid black;
    }

    .submissionButton,
    .resetButton {
        padding: 1rem 1rem;
        border: 2px solid black;
        cursor: pointer;
    }
    
    .submissionButton {
        background-color: #bde0fe;
        transition: 0.3s;
        &:hover,
        :focus {
            background-color: #a2d2ff;
        }
    }

    .resetButton {
        background-color: #ffc8dd;
        transition: 0.3s;
        &:hover,
        :focus {
            background-color: #ffafcc;
        }
    }
}

.guessButtons {
    display: flex;
    gap: 2rem;
}


section.counter{
    div.scoreCountContainer{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        img.pokeBallGif{
            height: 3rem;
            display: block;
        }
        img.scoreImage{
            height: 3rem;
        }
        p {
            margin: 5px 10px;
        }
    }
}